.button {
  background-color: #8e8d8a;
  border: none;
  border-radius: 35px;
  color: #ffffff;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: Montserrat;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  box-shadow: 0 3px 6px 0 #000000;
}
nav {
  display: flex;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li a {
  font-family: Montserrat;
  text-decoration: none;
  font-size: 1.875em;
  color: black;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
nav .buttons {
  align-self: right;
}
.header-container {
  background-image: url(../img/background-img.png);
  height: 47.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container .title {
  font-size: 3.125em;
  font-weight: 900;
  font-family: Montserrat;
}
.main-content {
  display: flex;
  border-top: 8.375em solid #f6cfca;
  background-color: #eceae0;
}
.main-content .holding-hands {
  height: 50vw;
  width: auto;
}
