header{
    height: 21.737vw;
    margin-top:18.211vw;
    margin-right: 4.789vw;
    margin-bottom: 6.526vw
    ;
     background-color: rgba(255, 255, 255, 0.47);
     
     h2{
         padding-top: 7.684vw;
         padding-left: 9.842vw;
        .semi-bold();
         font-size: 2.632vw;
     }
     .button{
         margin-left: 77.263vw         ;
         background-color:#dccab0;
     }
}