@font : Montserrat;

.bold-font(){
    font-family:@font;
    font-weight:900;
    
}
.semi-bold(){
    font-family: @font;
    font-weight: 600;
}
.standard-font(){
    font-family: @font;
}
.bold-italic-font(){
    font-family: @font;
    font-style:italic;
    font-weight: 900;
}
